
<div class="circle-container">
    <div class="outer-ring"></div>
    <!-- Used for more of a gyroscope type effect
    <div class="outer-outer-ring"></div>
    -->
    <div class="circle">
        <div class="front">
            <p>SIGN IN</p>
        </div>
        <div class="back">
            <img class="back-logo" src="http://danceworldtn.com/wp-content/themes/BoxStep/images/DanceWorld-logo-footer.png" alt="DW Logo" />
        </div>
    </div>
</div>